/* styles.css */

body{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

a {
    font-size: 18px;
    color:white;
    text-decoration: none;
}

.second-section {
    background-color: #1f2937;
    display: flex;
    height: 380px;
    padding-top: 80px;
}

.second-section-column {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    flex-wrap: wrap;
    max-width: 460px;
}

.header-links {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 100px;
}

.header-logo {
    font-size: 24px;
    color: white;
    margin-left: 200px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color:white;
    margin-bottom: 0%;

}

.header-subtext {
    font-size:18px;
    color:white;
    margin-top: 0%;

}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    width: 140px;
    font-weight: bolder;
    padding:10px;
}

.placeholder {
    background-color: gray;
    color:white;
    width:545px;
    text-align: center;
    padding-top: 90px;
    margin: 35px 0px 115px 45px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 60px 0px;
}

.rounded-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;

}

.round {
    border-radius: 25px;
    border: 4px solid #3882f6;
    width: 160px;
    height: 160px;
    background-color: white;
}

.container {
    width: 170px;
}

.container p {
    color: darkslategrey;
    text-align: center;
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-direction: column;

}

#quoti {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    width: 780px;
    align-self: center;
    margin-bottom: 0px;

}

#thor {
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 0px;
    margin-left: 700px;

}

.fourth-section {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: space-evenly;
    height: 150px;
    width: 1110px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.itstime {
    font-size: 24px;
    font-weight: bolder;
    color:white;
    margin-bottom: 0px;
}

#sign-up {
    font-size: 18px;
    color: white;
    margin-top: 0px;

}

.border {
    border: 2px solid white;
}

footer {
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer p {
    font-size: 18px;
    color: white
}
